*.unity merge=unityyamlmerge
*.prefab merge=unityyamlmerge
*.asset merge=unityyamlmerge
*.mat merge=unityyamlmerge
*.meta merge=unityyamlmerge

# Also merge files with no extension (Unity YAML temp files)
merge_file* merge=unityyamlmerge

*.txt merge=text